@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}




h1 {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.055em;
  line-height: 0.9em;
  text-indent: -0.03em;
  font-weight: bolder;
  color: #010101;
  font-size: 110px;
}

nav {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.055em;
  line-height: 0.9em;
  text-indent: -0.03em;
  font-weight: normal;
}

.indexPageWrapper {
  padding: 100px;
}

.card {
  height: 300px;
  width: 1000px;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 0px;
}

.cardPicture {
  height: 250px;
  width: 952px;
  background-color: white;
  text-align: center;
  margin: auto auto;
}

.card a:hover {
  background-color: #f50057;
}

.navbar {
  background-color: black !important;
}
